* {
    margin: 0 auto;
    padding: 0;
}

.row {
    display: flex;
    flex-direction: row;
    margin: 2% auto;

}

.col-2 {
    height: 100px;
    width: 100px;
    flex: 2;
    background-color: aqua;
    margin: 10px auto;
    text-align: center;

}
.col-3 {
    height: 100px;
    width: 100px;
    flex: 3;
    background-color: aqua;
    margin: 10px auto;
    text-align: center;

}